<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <title>Equipment Manager</title>

</head>
<body>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">×</a>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/viewIssuesPage}">Issues</a>
    <a th:href="@{/equipment}">Equipment</a>
    <a th:href="@{/viewAboutPage}">About Us</a>
    <span sec:authorize="isAuthenticated()"><a th:href="@{logout}">Logout</a> </span>
</div>


<div id="main">
        <header>
            <div class="menu-opener">
                <button class="open-btn" onclick="openNav()">☰ </button><span>Home Page</span>
            </div>
            <div class="user-name">
                <span>Welcome <span sec:authentication="principal.username"> </span></span>
            </div>
        </header>

        <div id="contents">
            <img th:src="@{/images/logo.png}" id="front_page_image">

            <br>
            <div id="welcome">
                <p>Welcome to the ZESCO Limited Issues Tracking Web App </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>